@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body
{
    background-color: #252b41;
}

a
{
    text-decoration: none;
}

li
{
    list-style-type: none;
    color: white;
    margin-right: 20px;
}



li:hover
{
    text-decoration: underline;
    cursor: pointer;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    padding: 30px 0;
}

.navigation
{
    background-size: cover;
    
    
}

nav .menu-left
{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav .menu-right
{
    display: flex;
    color: #fff;

}

nav .menu-left ul
{
    display: flex;
}

nav h2 
{
    margin-right: 70px;
    color: white;
}

nav .menu-right a button, .blue
{
    color: #fff;
    padding: 10px;
    border-radius: 5px;

}



.list ul
{   
    display: flex;

}

.btn-prozrachniy
{
    background-color: transparent;
    border: none;
}

.btn-blue
{
    background-color: #26A5F6;
    border: #26A5F6;

}

.btn-blue:hover
{
     background-color: transparent;
     border: 1px solid #26A5F6;
     
}

.text-cont 
{
    text-align: center;
    align-items: center;
    padding-top: 25px;

}


.text-cont h5
{
    color: #26A5F6;
}

.prozrachniy-btn
{
    color: #26A5F6;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #26A5F6;
}

.cart h5
{
    margin-left: 30px;
    margin-top: 15px;
    color: black;
}

.text-cont h1 ,p
{
    color: #fff;
}

h1{
    padding-top: 40px;
    padding-bottom: 30px;
}

.text-cont p
{
    padding-bottom: 25px;    
}

main .carts
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    
}

main .carts .cart
{
    height: 250px;
    width: 250px;
    background-color: #fff;
    margin: 10px;
    border-radius: 1px;
}

#blue-cart
{
    background-color: #26A5F6;
}

.icon-cart
{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 30px;
    text-align: center;  
    padding: 12px;  
}

#cart1
{
    background-color: #ffdcd1;
    color: #e95250;
    font-size: 30px;
    
}



#cart2
{
    background-color: #b9eaa8;
    font-size: 30px;
    color: #3cc477;
}

#cart3
{
    background-color: #fff;
    font-size: 30px;
    color: #26A5F6;
}

button:hover
{
    cursor: pointer;
}

hr
{
    width: 45px;
    margin-left: 30px;
    margin-top: 30px;
}

.cart p
{
    color: gray;
    margin-left: 30px;
    margin-top: 30px;
    font-size: small;
}
    /* Smartphone */
@media screen and (min-width: 320px) and (max-width: 479px) {
    .text-cont 
    {
        padding: 100px 20px;
    }
    
    .text-cont h1
    {
        font-size: 25px;
    }

    .text-cont h5
    {
        margin-top: 110px;
    }

    .text-cont p 
    {
        font-size: 15px;
    }

    main .carts
    {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr;
        row-gap: 30px;
        padding: 50px 20px;
        
    
    }

    .carts .cart, .blue-cart
    {
        padding: 30px;
        
    }

    main .carts .cart {
        border-radius: 10px;
    }

    .icon-cart
    {
        margin: 0;
    }



    .cart p, .cart h5 
    {
        margin-left: 0;
        margin-top: 15px;
    }

    hr {
        margin-left: 0;
        margin-top: 15px;
    }




    
}

        /* Tablet */
        @media screen and (min-width: 480px) and (max-width: 768px) {
            
    .text-cont 
    {
        padding: 100px 80px;
    }
    
    .text-cont h1
    {
        font-size: 50px;
    }

    .text-cont h5
    {
        margin-top: 120px;
        font-size: large;
    }


    .text-cont p 
    {
        font-size: large;
    }

    main .carts
    {
        display: flex;
        flex-direction: column;
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
        padding: 50px 20px;
        
    
    }


    main .carts .cart {
        border-radius: 10px;
        padding: 30px;
        width: 350px;
        height: 350px;
        max-width: 470px;
    }

    .icon-cart
    {
        margin: 0;
        width: 90px;
        height: 90px;
    }

    .cart p, .cart h5 
    {
        margin-left: 0;
        margin-top: 30px;
        font-size: large;
    }

    .icon-cart i 
    {
        font-size: 50px;
        margin-top: 7px;
    }

    hr {
        margin-left: 0;
        margin-top: 30px;
        border-top: 5px solid;
    }

}






